body {
    background-color: rgb(255, 255, 255);
    padding: 100px;
}

.contenedor {
    display: flex; 
    height: 500px;
    flex-wrap: wrap;
}

.c1 {
    flex: 1;
    background-color: rgb(91, 255, 233);
    padding: 20px;
}

.c1 nav {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.c1 nav a {
    text-decoration: none;
    color: #333;
    padding: 20px 10px;
    font-size: 24px;
    flex: 1;
    text-align: center;
    
}


.c1 hr {
    border: 0;
    height: 1px;
    background-color: black;
    width: 100%;
    margin: 8px 0;
}

.c2 {
    flex: 2;
    background-color: rgb(198, 253, 255);
    margin-left: 0.5%;
}

@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }

    .c1 nav a {
        font-size: 24px;
        padding: 15px;
    }

    .c1 hr {
        width: 90%;
    }

    .c2 {
        flex: 3;
        padding: 20px;
    }
}
